name: Notify Pending Pull Requests

on:
  schedule:
    - cron: '0 0-10,23 * * *' # UTC 0-10, 23 = JST 9-19, 8時 (毎時0分に実行)

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run notification script
        env:
          REPOSITORIES_GITHUB: ${{ secrets.REPOSITORIES_GITHUB }}
          TOKEN_GITHUB: ${{ secrets.TOKEN_GITHUB }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          REVIEWER_USERNAME: ${{ secrets.REVIEWER_USERNAME }}
        run: node index.js
